* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #917a63e7;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    #container-header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 5%;
            margin:20px 0 20px 0;
            img {
                width: 10%;
                border-radius: 50%;
            }
        }
    }

    #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                margin: 10px;
                text-align: center;
                font-size: larger;
                background-color: aliceblue;
                width: 250px;
                padding: 20px;
                border-radius: 15px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            li:hover {
                margin: 0 0 20px 20px;
                text-align: center;
                font-size: x-large;
                background-color: black;
                width: 250px;
                padding: 20px;
                border-radius: 15px;
                transition: 0.5s ease-in-out;

                a {
                    color: aliceblue;
                }
            }
        }
    }
}
main{
    #container-main {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;

        .art {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 75%;

            #container-art-rodizio {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(0, 0, 0);
                border: solid rgb(145, 145, 145) 5px;
                border-radius: 10px;
                padding: 20px;
                margin: 15px;

                #video {
                    width: 95%;
                    margin: 2.5%;

                    iframe {
                        width: 95%;
                        height: 50vh;
                    }
                }

                .texto-rodizio {
                    width: 95%;
                    display: inline;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        width: 100%;
                        color: rgba(216, 192, 55, 0.849);
                        margin: 10px 0 10px 0;
                    }

                    p {
                        color: aliceblue;
                        margin: 10px 0 30px 0;
                    }

                    a {
                        margin: 10px 0 10px 0;
                        text-decoration: none;
                        padding: 10px;
                        height: 10px;
                        border-radius: 15px;
                        border: solid aliceblue 2px;
                        color: #c79668e7;
                    }

                    a:hover {

                        border-radius: 15px;
                        border: solid aliceblue 2px;
                        color: #c79668e7;
                        background-color: aliceblue;
                    }

                }

            }

            #container-art-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(0, 0, 0);
                border: solid rgb(145, 145, 145) 5px;
                border-radius: 10px;
                padding: 20px;
                margin: 15px;

                .texto-menu {
                    width: 95%;
                    display: inline;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        width: 100%;
                        color: rgba(216, 192, 55, 0.849);
                        margin: 10px 0 10px 0;
                    }

                    p {
                        color: aliceblue;
                        margin: 10px 0 30px 0;
                    }

                    a {
                        margin: 10px 0 10px 0;
                        text-decoration: none;
                        padding: 10px;
                        height: 10px;
                        border-radius: 15px;
                        border: solid aliceblue 2px;
                        color: #c79668e7;
                    }

                    a:hover {

                        border-radius: 15px;
                        border: solid aliceblue 2px;
                        color: #c79668e7;
                        background-color: aliceblue;
                    }
                }

                #img-menu {
                    width: 80%;

                    img {
                        width: 100%;
                    }

                }

            }

        }
    }

    /* Aside Geral */
    aside{
        width: 25%;
        /* Aside index */
        #container-aside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px;
            .texto-aside{
                background-color:  rgb(145, 145, 145) ;
                padding: 25px;
                h3{
                    color: rgba(216, 192, 55, 0.849);
                    width: 100%;
                    margin: 10px 0 10px 0;
                    font-size: large;
                    text-align: right;
                }
                p{
                    width: 100%;
                    text-align: justify;
                    background-color: aliceblue;
                    padding: 15px;
                    margin: 10px 0 10px 0;
                }
            }
        }       
    }
}
#main-rodizio{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    margin: 1%;
    aside{
        width: 100%;
        #container-aside2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .texto-aside2{
                background-color:  rgb(145, 145, 145) ;
                padding: 25px;
                h3{
                    color: rgba(216, 192, 55, 0.849);
                    width: 100%;
                    margin: 10px 0 10px 0;
                    font-size: large;
                    text-align: left;
                }
                p{
                    width: 100%;
                    text-align: justify;
                    background-color: aliceblue;
                    padding: 15px;
                    margin: 10px 0 10px 0;
                }
            }
        }
    }
    #main-sec-rodizio{
        background-color: black;
        article{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
            #sec-rod-header{
                width: 100%;
                #title-rodizio{
                    padding: 10px 0 10px 0;
                    h1{
                    color: rgba(216, 192, 55, 0.849);
                    }
                    hr{
                        margin: 10px 0 10px 0;
                    }
                }
            }
            #video {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                iframe {
                    width: 95%;
                    height: 50vh;
                }
            }
            #container-img-rodizio{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 95%;
                }
            }
            .texto-rodizio {
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: aliceblue;
                    width: 95%;
                    margin: 2.5%;
                    margin: 10px 0 30px 0;
                    text-align: justify;
                }
            }  
        }
    }
    #section-footer{
        width: 100%;
        p{
            color: aliceblue;
            padding: 10px;
            a{
                color: aliceblue;
            }
        }
    }
    #menu {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                text-align: center;
                font-size: larger;
                background-color: aliceblue;
                width: 250px;
                padding: 20px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            li:hover {
                margin: 20px 0 20px 0px;
                text-align: center;
                font-size: x-large;
                background-color: black;
                width: 250px;
                padding: 20px;
                border-radius: 15px;
                transition: 0.5s ease-in-out;

                a {
                    color: aliceblue;
                }
            }
        }
    }

}
footer{
    #container-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            padding: 20px;
        }
        hr{
            width: 80%;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: circle;
            li{
                margin: 20px;
                a{
                    color: black;
                }
            }
        }

    }
}